.App {
  color: #fff;
  background-color: #3b424a;
  border-radius: 0.5rem;
  padding: 4rem 4rem 2rem;
  width: 50rem;
}

.tasks {
  margin-top: 3rem;
}
.no-tasks {
  text-align: center;
  font-size: 1.3rem;
}

.date {
  font-style: italic;
  font-size: 1.1rem;
  opacity: 50%;
}
